@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&display=swap');

html,
body {
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  font-family: Lato, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #2f2fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

a:hover {
  color: #2121cd;
}

* {
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

table strong {
  padding-right: 15px;
}